@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&family=Poppins:wght@500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #000000;
}

#root {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

section {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  section {
    width: 96%;
  }
}

@media only screen and (min-width: 600px) {
  section {
    max-width: 600px;
  }
}

@media only screen and (min-width: 768px) {
  section {
    max-width: 768px;
  }
}

@media only screen and (min-width: 992px) {
  section {
    max-width: 992px;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    max-width: 1230px;
  }
}

@media only screen and (max-width: 992px) {
  aside {
    width: 100%;
  }
}

header {
  display: none;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

header button {
  min-width: 80px;
  min-height: 35px;
  background-color: #007EFF;
}

.post-form {
  max-width: 820px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-form input {
  height: 34px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #F1F0F2;
  border: 1px solid #d7d7d7;
}

.post-form textarea {
  width: 97%;
  padding: 10px;
  font-weight: 500;
  min-height: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Poppins;
  background-color: #F1F0F2;
  border: 1px solid #d7d7d7;
}

.post-form button {
  height: 40px;
  margin-bottom: 10px;
  background-color: #007EFF;
}

.post-form button:hover {
  border: none;
}

.site {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: calc(100% + 0px);
  min-height: calc(100vh - 100px);
}

@media only screen and (max-width: 992px) {
  .site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-card-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #d7d7d7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  min-width: 400px;
  text-decoration: none;
  text-align: center;
  color: black;
  margin-bottom: 10px;
  background-color: #F1F0F2;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .user-card-preview {
    width: 100%;
    min-width: 300px;
  }
}

.user-card-preview .user-card-header {
  margin-top: 15px;
}

@media only screen and (max-width: 455px) {
  .user-card-preview .user-card-body {
    width: 280px;
  }
  .user-card-preview .user-img {
    height: 120px;
    width: 120px;
  }
  .user-card-preview .user-card-info {
    margin-bottom: 10px;
  }
  .user-card-preview .user-card-info h2 {
    margin: 5px 5px;
  }
  .user-card-preview .user-card-info p {
    margin-top: 10px;
    max-width: 380px;
  }
}

.user-card-preview .user-img {
  background-image: url(./img/user.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 220px;
  border-radius: 150px;
}

@media only screen and (max-width: 995px) {
  .user-card-preview .user-img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
  }
}

.user-card-preview .user-card-info {
  margin-bottom: 20px;
}

.user-card-preview .user-card-info h2 {
  margin: 15px 5px;
}

.user-card-preview .user-card-info p {
  margin-top: 10px;
  max-width: 380px;
}

.user-card-preview .user-card-info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-card-preview .user-card-info form input, .user-card-preview .user-card-info form textarea {
  color: #000000;
  background-color: #ffffff;
  height: 34px;
  width: 340px;
  margin-bottom: 10px;
  padding: 2px 6px;
  border-radius: 6px;
  border: none;
}

.user-card-preview .user-card-info form textarea {
  height: 100px;
}

.user-card-preview .user-card-info form button {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
}

.user-card-preview .user-card-info form button:hover {
  border: none;
}

.user-card-preview .educations {
  height: 60px;
}

.user-card-preview .user-card-btns {
  margin-bottom: 15px;
}

.user-card-preview .user-card-btns div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.user-card-preview .user-card-btns div button {
  margin: 5px;
}

.user-card-preview .user-card-btns div span {
  min-width: 120px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.user-card-preview .user-card-btns button {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
}

.user-card-preview .user-card-btns button:hover {
  border: none;
}

.user-setting-body {
  background-color: #F1F0F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  max-width: 800px;
  width: 800px;
  padding: 10px;
  border: 1px solid #d7d7d7;
  background-color: #F1F0F2;
  border-radius: 10px;
}

.post-card-preview {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  max-width: 800px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #F1F0F2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #d7d7d7;
}

.post-card-preview .post-card-header {
  min-height: 35px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-card-preview .post-card-header .post-options-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-card-preview .post-card-body {
  color: #000000;
  min-height: 50px;
  text-decoration: none;
}

.post-card-preview .post-card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 35px;
  margin-top: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post-card-preview .post-card-footer .comment-box {
  width: 100%;
  margin-left: 8px;
}

.post-card-preview .post-card-footer .comment-box input {
  width: 99%;
  height: 30px;
  border: none;
  padding-left: 10px;
  border-radius: 4px;
}

@media only screen and (max-width: 992px) {
  .post-card-preview .post-card-footer .comment-box input {
    height: 26px;
  }
}

.post-card-preview .post-card-footer .comment-box .comment {
  width: 99%;
  padding: 5px;
  height: auto;
  display: none;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 6px;
  background-color: #ffffff;
}

.post-card-preview .post-card-footer .comment-box .comment .user-img-sm {
  height: 25px;
  width: 25px;
}

.post-card-preview .post-card-footer .comment-box .comment p {
  opacity: 80%;
  margin-left: 35px;
  margin-bottom: 4px;
}

.user-sm-byline-preview a {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.user-sm-byline-preview a .user-img-sm {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #021C26;
}

.welcome {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome .form-container {
  min-width: 400px;
  border-radius: 10px;
  padding: 26px 0px 35px 0px;
  background-color: #021C26;
}

.welcome .form-container .login-message {
  width: 360px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome .form-container .login-message p {
  color: white;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
}

.welcome .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .form-container form input, .welcome .form-container form textarea {
  color: #000000;
  background-color: #ffffff;
  height: 34px;
  width: 340px;
  margin-bottom: 10px;
  padding: 2px 6px;
  border-radius: 6px;
  border: none;
}

.welcome .form-container form textarea {
  height: 100px;
}

.welcome .form-container form button {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
}

.welcome .form-container form button:hover {
  border: none;
}

.welcome .form-container .or-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .form-container .or-box span {
  font-size: 14px;
  color: #F1F0F2;
  margin: 14px 5px;
}

.welcome .form-container .or-box button {
  width: 356px;
  height: 40px;
  background-color: green;
}

.welcome .form-container .or-box button:hover {
  border: 2px solid white;
}

button {
  color: #000000;
  border: none;
  min-width: 120px;
  min-height: 30px;
  border-radius: 6px;
  font-family: Poppins;
  background-color: #ffffff;
}

button:hover {
  border: 1px solid black;
}

.delete-btn {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url(./img/delete.png);
}

.comment {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 992px) {
  button {
    min-width: 80px;
    min-height: 26px;
  }
}

.loading {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.loading h3 {
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */